# Copyright 2008 - 2009, Niels Sandholt Busch <niels.busch@gmail.com>. All rights reserved.

DATABASE_ENGINE = '' # variants: sqlite3, mysql, postgresql_psycopg2
DATABASE_NAME = ''
DATABASE_USER = ''
DATABASE_PASSWORD = ''

ADMINS = ()

EMAIL_HOST = ''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL = ''
SERVER_EMAIL = ''

DEBUG = False