body {
  background-color: #EEEEEE;
}
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
#hd {
  padding: 0 20px;
  height: 63px;
  background: transparent url(/static/img/image_datab_top.gif) no-repeat right;
}
#hd > div > div {
  float: left;
  margin-top: 15px;
}
#hd #logo {
}
#hd #user_box {
  position: absolute;
  right: 425px;
}
#bd {
}
#breadcrumbs {
  padding: 1em 0;
}
#photo_size {
  margin: 0 0 1em 0;
}
#photo_size li {
  display: inline;
}
.centerbox {
  margin: auto;
  width: 250px;
  padding: 155px;
}
#page {
  background: white;
}
#indented_content {
  padding: 0 20px;
}
.nonauth #innerpage {
  background: url(/static/img/draabe.gif) no-repeat 0% 100%;
}
.nonauth #logo {
  margin-left: 180px;
  padding-bottom: 10px;
}
#blueline {
  padding: 0;
  height: 5px;
  width: 100%;
  background-color: #012f63;
}
/* FORMS */
form {
  padding: 4px 0 4px 0;
  margin: 1em 0;
}
form table {
  width: 100%;
  margin: 0px;
}
select {
  margin: 0;
  padding: 0;
  width: 6em;
}
