.hide {
  display:none;
}
.quiet {color:#666;}
.small { font-size: 85% }
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
#doc3 {margin:auto;}
#hd {
  background: #fcfcfc url(/static/img/header_bg.png) 0 100% repeat-x;
  padding: 0 10px;
  border-bottom: 3px solid #ddd;
}
#hd #user_box {
  padding: 1em;
}

#bd {
  padding-left: 10px;
  padding-right: 10px;
}
#ft {
 border-top: solid 1px #EEEEEE;
 text-align: center;
}
#breadcrumbs {
  padding: 1em 0;
}
#photo_size {
  margin: 0 0 1em 0;
}
#photo_size li {
  display: inline;
}
/* FORMS */
form {
  background: #F3F3F3;
  padding: 4px 0 4px 0;
  margin: 1em 0;
}
form table {
  border-collapse: collapse;
  width: auto;
  margin: 0px;
}
form th, form td {
  border: none;
}
select {
  margin: 0;
  padding: 0;
}
