body {
  text-align: left;
  min-width: 800px;
}
body.nonauth {
  background-color: #EEEEEE;
}
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
#hd {
  height: 63px;
}
#hd #logo {
  float: left;
  margin-top: 7px;
  margin-left: 7px;
}
#hd #user_box {
  float: right;
  margin-top: 15px;
}
#hd #dbtop {
  float: right;
}
#bd {
}
#breadcrumbs {
  padding: 1em 0;
}
#photo_size {
  margin: 0 0 1em 0;
}
#photo_size li {
  display: inline;
}
.centerbox {
  margin: auto;
  width: 250px;
  padding: 250px;
}
#page {
  background: white;
}
#indented_content {
  padding: 0 20px;
}
.nonauth #innerpage {
  background: url(/static/img/draabe.gif) no-repeat 0% 100%;
}
.nonauth #logo {
  margin-left: 225px;
  padding-bottom: 10px;
}
#blueline {
  padding: 0;
  height: 5px;
  width: 100%;
  background-color: #012f63;
  color: #012f63;
}
/* FORMS */
form {
  padding: 4px 0 4px 0;
  margin: 1em 0;
}
form table {
  width: 100%;
  margin: 0;
  padding: 0;
}
form td {
  padding: 0 5px 0 0;
}
select {
  margin: 0;
  padding: 0;
/*   width: 6em; */
  background: white;
}
select option {
  border-top: white solid 2px;
/*   background: #38c2d4; */
}
input[type="submit"] {
  color: white;
  background: #012f63;
}
