body {
  text-align: left;
  min-width: 800px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 72%;
}
a {
  color: #AAAAAA;
}
a:hover {
  color: #454545;
}
a:focus, object:focus, input:focus {
  outline: 0;
}
body.nonauth {
  width: 100%;
  height: 100%;
  background: white url('/static/img/background_1px.gif') repeat-x;
}
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
#hd {
  height: 64px;
  margin-bottom: 1.4em;
}
#hd #logo {
  float: left;
  margin-top: 14px;
  margin-left: 14px;
}
#hd #user_box {
  float: right;
  margin-top: 15px;
}
#hd #dbtop {
  float: right;
}
#bd {
}
#breadcrumbs {
  padding: 1em 0;
}
#ft {
  text-align: center;
}
#photo_size {
  margin: 0 0 1em 0;
}
#photo_size li {
  display: inline;
}
.nonauth .centerbox {
  margin: 0 auto;
  margin-top: 10%;
  width: 690px;
}
.nonauth #logo {
  height: 33px;
  margin: 0;
  padding: 0;
}
.nonauth #nav {
  width: 367px;
  color: white;
  margin: 0;
  padding: 0 20px;
  background: black;
  float: right;
  height: 34px;
  z-index: 10;
  position: relative;
}
.nonauth #nav li {
  list-style: none;
  float: left;
  margin: 0;
  color: gray;
  padding: 7px 0px;
  position: relative;
}
.nonauth #nav-1 {
  width: 110px;
}
.nonauth #nav-2 {
  width: 125px;
}
.nonauth #nav-3 {
  width: 85px;
}
.nonauth #nav-4 {
  width: 40px;
}
.nonauth #nav li a {
  text-decoration: none;
}
.nonauth #nav li a div {
  height: 20px;
/*   overflow: hidden; */
}
.nonauth #nav li.ui-tabs-selected a div {
/*   overflow: visible; */
}
.nonauth #nav-1 a div img, .nonauth #nav-2 a div img, .nonauth #nav-3 a div img, .nonauth #nav-4 a div img {
  display: none;
}
.nonauth #nav-1 a div img {
  margin-left: 20px;
}
.nonauth #nav-2 a div img {
  margin-left: 30px;
}
.nonauth #nav-3 a div img {
  margin-left: 15px;
}
.nonauth #nav-4 a div img {
  margin-left: 8px;
}
.nonauth #nav-1.ui-tabs-selected a div img, .nonauth #nav-2.ui-tabs-selected a div img, .nonauth #nav-3.ui-tabs-selected a div img, .nonauth #nav-4.ui-tabs-selected a div img {
  display: inline;
  position: absolute;
  margin-top: 5px;
}
.nonauth #nav li a:hover {
  color: white;
}
.nonauth #leftbox, .nonauth #rightbox {
  float: left;
}
.nonauth #leftbox {
  width: 233px;
}
.nonauth #rightbox {
  width: 457px;
  margin: 0;
}
.nonauth .corner_img {
  float: right;
}
.nonauth #flashcontent {
  margin: 0; /* centers this */
  height: 401px; /* height of flashmovie */
}
.nonauth #boxmain {
  height: 400px;
  background: url('/static/img/halve_billedet_02_02_01.png') no-repeat;
  color: white;
  z-index: 0;
}
.nonauth .frame {
  background: #BBDFE8;
  color: black;
  width: 409px;
}
.nonauth .frame-wrapper {
  height: 9px;
/*   width:  */
}
.top-center, .bottom-center {
  width: 391px;
  background: #BBDFE8;
  height: 9px;
  float: left;
}
.nonauth .top-left {
/*   background: url('/static/img/inside_corners_01.png') no-repeat left top; */
  float: left;
}
.nonauth .top-right {
/*   background: url('/static/img/inside_corners_03.png') no-repeat right top; */
  float: left;
}
.nonauth .bottom-left {
  background: url('/static/img/inside_corners_07.png') no-repeat left top;
  height: 9px;
  float: left;
}
.nonauth .bottom-right {
  background: url('/static/img/inside_corners_08.png') no-repeat right top;
  height: 9px;
  float: left;
}

.nonauth #introduction, .nonauth #howto, .nonauth #contact {
  margin: auto;
  padding: 2em;
}
/* INTRODUCTION */
.nonauth #introduction .frame {
  font-size: 80%;
}
/* HOWTO */
.nonauth #howto .frame td * {
/*   border: solid 1px; */
/*   vertical-align: middle; */
/*   padding: 0 .5em; */
}
.nonauth #howto .frame td > img {
  float: left;
}
.nonauth #howto .frame td > span {
/*   position: relative; */
  float: left;
  border: solid 1px;
}

/*#howto .bl {background: url('/static/img/inside_corners_07.png') 0 100% no-repeat;}
#howto .br {background: url(br.gif) 100% 100% no-repeat}
#howto .tl {background: url(tl.gif) 0 0 no-repeat}
#howto .tr {background: url(tr.gif) 100% 0 no-repeat; padding:10px}
#howto .roundclear {font-size: 1px; height: 1px}*/

/* CONTACT */
.nonauth #contact {
}
.nonauth #contact .frame {

}

/* LOGIN */
#login {
  margin: auto;
  padding-top: 80px;
  height: 200px;
  width: 290px;
}
#login form * {
  position: relative;
}
#login #id_username, #login #id_password {
  width: 290px;
  border: 0;
  margin: .5em 0;
/*   background: url('/static/img/graf__15.png') repeat-x; */
}
#login #login_button {
  float: right;
}
#indented_content {
  padding: 0 20px;
}
#sections {
  margin-bottom: 4px;
}
#image_list, #eps_list {
  margin-top: 15px;
  width: 1240px;
}
#eps_list {
  margin-top: 36px;
  width: 1240px;
}
#image_list img, #eps_list img {
  margin-right: 4px;
  margin-bottom: 4px; 
}
#image_list img {
  width: 100px;
  height: 100px;
}
#eps_detail {
  margin-top: 30px;
}
.step-button {
  float: left;
}
.page {
  color: #a5a3a5;
}
.page > a, .curr {
  padding: 0 .3em;
}
.page > a {
  text-decoration: none;
  color: #a5a3a5;
}
.curr {
  text-decoration: underline;
  color: gray;
}
.step-links .pages {
  position: relative;
  float: left;
  margin: 0 .5em;
  margin-top: .2em;
}
.caption {
  width: 600px;
}

/* FORMS */
form > table {
  margin: .5em 0;
  margin-bottom: .7em;
}
#submitline {
  padding: 0;
  margin-top: 3px;
}
form td {
  padding: 0;
}
form td strong {
  color: #666666;
}
select {
  margin: 0 0 .5em 0;
}
/* select box widths */
#id_locations, #id_hse { width: 220px; }
#id_installations, #id_graphics { width: 220px; }
#id_people, #id_years { width: 110px; } { width: 145px; }
#id_communications, #id_archives { width: 215px; }
#id_logos { width: 200px; }

/* jquery ui tabs css */
.ui-tabs .ui-tabs-hide {
     display: none;
}
.ui-tabs-selected a, .ui-state-active a, .ui-state-focus a {
  color: white;
}
#contact {
  padding: 10px 0;
}
