{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block title %}{% trans "Image database" %}{% endblock title %}</title>
  <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="screen, projection" >
</head>
<body class="{% block section %}{% endblock section %}">
<div id="page">
  <div id="innerpage">
  {% block page %}{% endblock page %}
  <div id="hd">
  {% block head %}{% endblock head %}
  </div>
  <div id="bd">
  {% block content %}{% endblock content %}
  </div>
  <div id="ft">
  {% include "footer.html" %}
  </div>
  </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>

<!--[if IE]>
<style type="text/css">

#selectContainer {
    /* may need to adjust slightly for IE6, I don't have it here to test. */
    width: 7em;  
    overflow: hidden;
}
select.testNormal { 
    width: 6em; 
}
select.testExpand { 
    width: 16em; 
}
</style>

<script>
  $(function() {

    $("select")

      .mousedown(function(){
        $(this).addClass('testExpand');
        $(this).removeClass('testNormal');
      })

      .change(function(){
        $(this).addClass('testNormal');
        $(this).removeClass('testExpand');
      })

      .blur(function(){
        $(this).addClass('testNormal');
        $(this).removeClass('testExpand');
      })
  });
</script>
<![endif]-->

</body>
</html>
