{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {{ eps.title }}{% endblock title %}

{% block indented_content %}
<div id="breadcrumbs">
<a href="{% url eps_front %}">{% trans "Home" %}</a> &rsaquo; <strong>(Ref. No.:{{ eps.title }})</strong>
<a onClick="history.back();" href="#">Back</a>
</div>

<div>
<img src="/static/img/download.gif" alt="{% trans "Download" %}"> <a href="{% url eps-download eps.id %}"><img src="/static/img/original_size.jpg" alt="{% trans "Original" %}"></a>
</div>

<div>
  <img src="{{ eps.thumbnail.url }}" alt="{{ eps.title }}">
  {% if eps.caption %}<p>{{ eps.caption }}</p>{% endif %}
</div>
<hr class="space">
<h4>{% trans "Categories:" %}</h4>

{% if eps.logos.all %}
<div>
<strong>{% trans "Logos: " %}</strong>
{{ eps.logos.all|join:"; " }}
</div>
{% endif %}

<hr class="space">

{% endblock indented_content %}
