{% extends "base_site.html" %}
{% load i18n %}

{% block indented_content %}

<div id="sections">
<a href="{% url image_front %}"><img id="images-section" src="/static/img/Images.gif" alt="{% trans "Images" %}"></a> <a class="selected round" href="{% url eps_front %}"><img id="logos-section" src="/static/img/logos.jpg" alt="{% trans "Logos" %}"></a>
</div>

<form class="round" method="get" action="{% url eps 1 %}">
<table>
{% include "form.html" %}

<tr>
<td><div id="submitline"><div><input id="searchbutton" type="image" src="/static/img/button_07.gif" value="Search"> <a href="{% url eps_front %}"><img id="resetlink" src="/static/img/button_03.gif"></a></div></div></td></tr>
</table>
</form>

{% block eps_list %}
{% if eps.object_list %}
<div id="eps_list">
{% for eps in eps.object_list %}
  <a href="{% url eps-detail eps.id %}"><img src="{{ eps.thumbnail_url }}" alt="{{ eps.title }}"></a>
{% endfor %}
</div>

<table id="dummy">
  <tr>
  <td><div id="id_logos">

<div class="step-links">
  {% if eps.has_next %}
    <a class="step-button" href="{% url eps eps.next_page_number %}{% if query %}?{{ query }}{% endif %}"><img id="nextbutton" src="/static/img/button2_07.gif" alt="{% trans "Next" %}"></a>
  {% endif %}
  {% if eps.has_previous %}
    <a class="step-button" href="{% url eps eps.previous_page_number %}{% if query %}?{{ query }}{% endif %}"><img id="previousbutton" src="/static/img/button2_05.gif" alt="{% trans "Previous" %}"></a>
  {% endif %}
  <div class="clear"></div>

<div class="small quiet pages">
Page
{% if not in_leading_range %}
        {% for num in pages_outside_trailing_range %}
                <span class="page"><a href="{% url eps num %}{% if query %}?{{ query }}{% endif %}">{{ num }}</a></span>
        {% endfor %}
        ...
{% endif %}
 
{% for num in page_numbers %}
  {% ifequal num eps.number %}
    <span class="curr" title="Current Page">{{ num }}</span>
  {% else %}
        <span class="page"><a href="{% url eps num %}{% if query %}?{{ query }}{% endif %}" title="Page {{ num }}">{{ num }}</a></span>
  {% endifequal %}
{% endfor %}
 
{% if not in_trailing_range %}
        ...
        {% for num in pages_outside_leading_range reversed %}
                <span class="page"><a href="{% url eps num %}{% if query %}?{{ query }}{% endif %}" >{{ num }}</a></span>
        {% endfor %}
{% endif %}
</div> 

</div>

  </div></td>
  </tr>
</table>



{% else %}
{% trans "No logos found." %}
{% endif %}
{% endblock eps_list %}

{% endblock indented_content %}
