{% extends "base_site.html" %}
{% load i18n %}

{% block indented_content %}

<div id="sections">
<a href="{% url image_front %}"><img id="images-section" src="/static/img/Images.png" alt="{% trans "Images" %}"></a> <a class="selected round" href="{% url eps_front %}"><img id="logos-section" src="/static/img/logos2.png" alt="{% trans "Logos" %}"></a>
</div>

<form class="round" method="get" action="{% url eps 1 %}">
<table>
{% include "form.html" %}
</table>
<div id="submitline"><input id="searchbutton" type="image" src="/static/img/Search.png" value="Search"> <a href="{% url eps_front %}"><img id="resetlink" src="/static/img/clear.png"></a></div>
</form>

{% block eps_list %}
{% if eps.object_list %}
<div id="eps_list">
{% for eps in eps.object_list %}
  <a href="{% url eps-detail eps.id %}"><img src="{{ eps.thumbnail_url }}" alt="{{ eps.title }}" title="{{ eps.categories }}"></a>
{% endfor %}
</div>

<div class="step-links">
  {% if eps.has_previous %}
    <a class="step-button" href="{% url eps eps.previous_page_number %}{% if query %}?{{ query }}{% endif %}"><img id="previousbutton" src="/static/img/prev.png" alt="{% trans "Previous" %}"></a>
  {% endif %}

  <span class="small quiet pages">
  {% if not in_leading_range %}
    {% for num in pages_outside_trailing_range %}
      <span class="page"><a href="{% url eps num %}{% if query %}?{{ query }}{% endif %}">{{ num }}</a></span>
    {% endfor %}
    ...
  {% endif %}
 
  {% for num in page_numbers %}
    {% ifequal num eps.number %}
      <span class="curr" title="Current Page">{{ num }}</span>
    {% else %}
      <span class="page"><a href="{% url eps num %}{% if query %}?{{ query }}{% endif %}" title="Page {{ num }}">{{ num }}</a></span>
    {% endifequal %}
  {% endfor %}
 
  {% if not in_trailing_range %}
    ...
    {% for num in pages_outside_leading_range reversed %}
      <span class="page"><a href="{% url eps num %}{% if query %}?{{ query }}{% endif %}" >{{ num }}</a></span>
    {% endfor %}
  {% endif %}
  </span> 

  {% if eps.has_next %}
    <a class="step-button" href="{% url eps eps.next_page_number %}{% if query %}?{{ query }}{% endif %}"><img id="nextbutton" src="/static/img/next.png" alt="{% trans "Next" %}"></a>
  {% endif %}
</div>
<div class="clear"></div>

{% else %}
{% trans "No logos found." %}
{% endif %}
{% endblock eps_list %}

{% endblock indented_content %}
