{% load i18n %}

<table>
    <tr>
{% for field in form %}
  {% if not field.is_hidden %}
      <td><strong>{{ field.label }}</strong> <span class="small quiet">{{ field.help_text }}</span></td>
  {% endif %}
{% endfor %}
      <td></td>
    </tr>
    <tr>
{% for field in form %}
  {% if not field.is_hidden %}
    <td><div id="selectContainer">{{ field }}</div></td>
  {% endif %}
{% endfor %}
    <td><input type="submit" value="{% trans "Search" %}"></td>
  </tr>
</table>
{% for field in form %}
  {% if field.is_hidden %}
    <div>{{ field }}</div>
  {% endif %}
{% endfor %}
