{% load i18n %}

<table>
    <tr>
{% for field in form %}
  {% if not field.is_hidden %}
      <td><label>{{ field.label }}</label></td>
  {% endif %}
{% endfor %}
      <td></td>
    </tr>
    <tr>
{% for field in form %}
  {% if not field.is_hidden %}
    <td><div class="selectContainer">{{ field }}</div></td>
  {% endif %}
{% endfor %}
    <td><input type="submit" value="{% trans "Search" %}"></td>
  </tr>
</table>
{% for field in form %}
  {% if field.is_hidden %}
    <div>{{ field }}</div>
  {% endif %}
{% endfor %}
