{% load i18n %}

<div class="yui-ge">
  <div class="yui-u first">
    <h1><a href="{% url image-list %}">{% trans "Ciboe image database" %}</a></h1>
  </div>
  <div class="yui-u">
    {% if user.is_authenticated %}
    <div id="user_box" class="small quiet">
      {% trans "signed in as" %} <strong>{{ user.username }}</strong> | <a href="{% url auth_logout %}">{% trans "logout" %}</a>
    </div>
    {% else %}
      <a href="{% url auth_login %}">{% trans "login" %}</a>
    {% endif %}
  </div>
</div>
