{% load i18n %}

<div>
  <a href="{% url list %}"><img id="logo" src="/static/img/logo.gif" alt="{% trans "Logo" %}"></a>
  <img id="dbtop" src="/static/img/image_datab_top.gif" alt="">
  <span id="user_box" class="small quiet">
  {% if user.is_authenticated %}
    {% trans "signed in as" %} <strong>{{ user.username }}</strong> | 
    {% if user.is_staff %}<a href="/admin/">admin</a> |{% endif %}
     <a href="{% url auth_logout %}">{% trans "logout" %}</a>
  {% else %}
    {% block login %}<a href="{% url auth_login %}">{% trans "login" %}</a>{% endblock login %}
  {% endif %}
  </span>
</div>