{% extends "base.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}
<h2>{% trans "Photos" %}</h2>

<form class="round" method="get" action="{% url image-filter 1 %}">
{% include "form.html" %}
</form>

{% if image_list %}
{% for image in image_list %}
<a href="{{ image.get_absolute_url }}"><img src="{{ image.get_thumbnail_url }}" alt="{{ image.title }}"></a>
{% endfor %}

<div class="small quiet">
{% with image_list.count as photo_count %}
{% blocktrans with photo_count|apnumber as count and photo_count|pluralize as plur%}
found {{ count }} photo{{ plur }}.
{% endblocktrans %}
{% endwith %}
</div>

{% if is_paginated %}
<div id="page_controls">
    <p>{% if has_previous %}<a href="{% url image-list previous %}">{% trans "Previous" %}</a> | {% endif %} page {{ page }} of {{ pages }} {% if has_next %}| <a href="{% url image-list next %}">{% trans "Next" %}</a>{% endif %}</p>
</div>
{% endif %}

{% else %}
{% trans "No photos found." %}
{% endif %}

{% endblock content %}