{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {{ image.title }}{% endblock title %}

{% block content %}
<div id="breadcrumbs">
<a href="{% url image-list %}">{% trans "Home" %}</a> -> <strong>{{ image.title }}</strong>
</div>
<ul id="photo_size" class="small quiet">
<li><strong>{% trans "download:" %}</strong></li>
<li><a href="{% url image-download image.id "small" %}">[{{ image.get_small_size }}</a> {{ image.get_small_file_size|filesizeformat }}]</li>
<li><a href="{% url image-download image.id "medium" %}">[{{ image.get_medium_size }}</a> {{ image.get_medium_file_size|filesizeformat }}]</li>
<li><a href="{% url image-download image.id "large" %}">[{{ image.get_large_size }}</a> {{ image.get_large_file_size|filesizeformat }}]</li>
<li><a href="{% url image-download image.id "original" %}">[{% trans "original" %} {{ image.get_original_size }}</a> {{ image.get_original_file_size|filesizeformat }}]</li>
</ul>
<div>
  <img src="{{ image.get_display_url }}" alt="{{ image.title }}">
  {% if image.caption %}<p>{{ image.caption }}</p>{% endif %}
</div>
{% endblock content %}