{% extends "base_site.html" %}
{% load i18n %}

{% block section %}images{% endblock section %}

{% block indented_content %}
<div id="sections">
<a class="selected round" href="{% url image_front %}"><img id="images-section" src="/static/img/Images2.png" alt="{% trans "Images" %}"></a> <a href="{% url eps_front %}"><img id="logos-section" src="/static/img/logos.png" alt="{% trans "Logos" %}"></a> <a href="{% url image_download_list %} ">Download Images</a>
</div>

{% block image_search_form %}  
<form class="round" method="get" action="{% url images 1 %}">
<table>
{% include "form.html" %}
</table>
<div id="submitline"><input id="searchbutton" type="image" src="/static/img/search.png" value="Search"> <a href="{% url image_front %}"><img id="resetlink" src="/static/img/reset.png"></a></div>
</form>
{% endblock image_search_form %} 

<form action="{% url image_download_list_mod %}" method="post">
{% block image_list %}
{% if images.object_list %}
<div id="image_list">
{% for image in images.object_list %}
    <div class="img" id="id_{{ image.id }} "><a href="{% url image-detail image.id %}"><img src="{{ image.get_thumbnail_url }}" alt="{{ image.title }}" title="{{ image.categories }}{{ image.caption }}"></a>
    <input type="checkbox" name="img_down" value="{{ image.id }}" checked="yes"/>
    </div>
{% endfor %}
</div>
<input type="hidden" name="img_all" value="{% for image in images.object_list %}{{ image.id }},{% endfor %}">
<input type="submit" value="update"/>
</form>

<div class="step-links clear">
  {% if images.has_previous %}
    <a class="step-button" href="{% url images images.previous_page_number %}{% if query %}?{{ query }}{% endif %}"><img id="previousbutton" src="/static/img/prev.png" alt="{% trans "Previous" %}"></a>
  {% endif %}

  <span class="small quiet pages">
  {% if not in_leading_range %}
    {% for num in pages_outside_trailing_range %}
      <span class="page"><a href="{% url images num %}{% if query %}?{{ query }}{% endif %}">{{ num }}</a></span>
    {% endfor %}
    ...
  {% endif %}
 
  {% for num in page_numbers %}
    {% ifequal num images.number %}
      <span class="curr" title="Current Page">{{ num }}</span>
    {% else %}
      <span class="page"><a href="{% url images num %}{% if query %}?{{ query }}{% endif %}" title="Page {{ num }}">{{ num }}</a></span>
    {% endifequal %}
  {% endfor %}
 
  {% if not in_trailing_range %}
    ...
    {% for num in pages_outside_leading_range reversed %}
      <span class="page"><a href="{% url images num %}{% if query %}?{{ query }}{% endif %}" >{{ num }}</a></span>
    {% endfor %}
  {% endif %}
  </span>

  {% if images.has_next %}
    <a class="step-button" href="{% url images images.next_page_number %}{% if query %}?{{ query }}{% endif %}"><img id="nextbutton" src="/static/img/next.png" alt="{% trans "Next" %}"></a>
  {% endif %}

</div>
<div class="clear"></div>

{% else %}
{% trans "No images found." %}
{% endif %}
{% endblock image_list %}


{% endblock indented_content %}
