{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {{ image.title }}{% endblock title %}

{% block content %}
<div id="breadcrumbs">
<a href="{% url image-list %}">{% trans "Home" %}</a> -> <strong>{{ image.title }}</strong>
</div>
<ul id="photo_size" class="small quiet">
<li><strong>{% trans "download:" %}</strong></li>
<li><a href="{% url image-download image.id "small" %}">{% trans "small" %}</a></li>
<li><a href="{% url image-download image.id "medium" %}">{% trans "medium" %}</a></li>
<li><a href="{% url image-download image.id "large" %}">{% trans "large" %}</a></li>
<li><a href="{% url image-download image.id "original" %}">{% trans "original" %}</a></li>
</ul>
<div>
  <img src="{{ image.get_display_url }}" alt="{{ image.title }}"/>
  {% if image.caption %}<p>{{ image.caption }}</p>{% endif %}
</div>
{% endblock content %}