{% extends "base_site.html" %}

{% load i18n %}
{% load humanize %}

{% block indented_content %}

<div id="tabs" class="{% block default_tab %}{% endblock default_tab %}">

<ul id="tabitems">
<li><a href="#images">Images</a></li>
<li><a href="#logos">Logos</a></li>
</ul>

{% block tabs %}
<div id="images">
{% with image_form as form %}
{% include "includes/image_list.html" %}
{% endwith %}
</div>

<div id="logos">
{% with eps_form as form %}
{% include "includes/eps_list.html" %}
{% endwith %}
</div>
{% endblock tabs %}

</div>

{% endblock indented_content %}