{% extends "base_front.html" %}

{% block login %}{% endblock login %}

{% block boxcontent %}
<div id="leftbox">
  <div id="logo"><img src="/static/img/logo.gif"></div>
  <div id="flashcontent"></div>
</div>

<div id="rightbox">
  <img class="corner_img" src="/static/img/menucorner_rite.png">
  <ul id="nav" class="ui-tabs-nav">
    <li><a href="#introduction"><div><div>Introduction</div><img src="/static/img/pil.png"></div></a></li>
    <li><a href="#howto"><div><div>How to search</div><img src="/static/img/pil.png"></div></a></li>
    <li><a href="#contact"><div><div>Contact</div><img src="/static/img/pil.png"></div></a></li>
    <li><a href="#login"><div><div>Login</div><img src="/static/img/pil.png"></div></a></li>
  </ul>
  <img class="corner_img" src="/static/img/menucorner_left.png">
  <div class="clear"></div>
  <div id="boxmain">

    <div id="introduction" class="ui-tabs-panel ui-tabs-hide">introduction</div>
    <div id="howto" class="ui-tabs-panel ui-tabs-hide">howto</div>
    <div id="contact" class="ui-tabs-panel ui-tabs-hide">contact</div>

    <div id="login" class="ui-tabs-panel ui-tabs-hide">
      Welcome to <h2>Maersk Oil Image Database</h2>
      <form method="post" action="">
      <table>
      {{ form }}
      <tr><td><input type="submit" value="Login"></td></tr>
      </table>
      </form>
    </div>

  </div>
</div>
{% endblock boxcontent %}

{% block javascript %}
<script src="/static/js/swfobject.js" type="text/javascript"></script>
<script type="text/javascript">
   var so = new SWFObject("/static/flash/maersk.swf", "mærsk", "100%", "100%", "8", "#FFFFFF");
   so.addParam("quality", "best");
   so.addParam("scalemode", "noscale");
   so.addParam("wmode", "transparent");
   so.write("flashcontent");
</script>
{% endblock javascript %}